{% extends 'base.html' %}

{% block title %}About - My Website{% endblock %}

{% block content %}
<h2>О нас</h2>
<p>Это задание для урока VD05-jinja</p>

<div class="card-container">
    <div class="card">
        <h3>Карточка 3</h3>
        <p>Описание: <br> Рост: 168 см <br> Цвет волос: Блонд <br> Цвет глаз: зеленый</p>
    </div>
    <div class="card">
        <h3>Карточка 4</h3>
        <p>Описание: <br> Рост: 175 см <br> Цвет волос: Рыжий <br> Цвет глаз: голубой</p>
    </div>
</div>
{% endblock %}
