{% extends 'base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
<h2>Добро пожаловать на мой веб-сайт</h2>
<p>Задание VD05-jinja</p>

<div class="card-container">
    <div class="card">
        <h3>Карточка 1</h3>
        <p>Описание: <br> Рост: 161 см <br> Цвет волос: русый <br> Цвет глаз: карий </p>
    </div>
    <div class="card">
        <h3>Карточка 2</h3>
        <p>Описание: <br> Рост: 156 см <br> Цвет волос: черный <br> Цвет глаз: зеленый</p>
    </div>
</div>
{% endblock %}
